In [ ]:
# default_exp core

# module name here

> API details.

In [ ]:
#hide
from nbdev.showdoc import *

NameError: name 'notebook2script' is not defined

In [ ]:
import numpy as np
import pandas as pd
from pandas.io.json import json_normalize

In [ ]:
def json_parse(filename):
    data = pd.read_json('data/' + filename)
    data = json_normalize(data['result'])
    return data

In [ ]:
filename = 'btc-ltc-daily.json'

In [ ]:
data = json_parse(filename)

In [ ]:
data.head()

,BV,C,H,L,O,T,V
0,1.704125,0.02540,0.02540,2.525000e-02,0.02525,2014-03-07T00:00:00,67.445876
1,0.312342,0.02525,0.02525,2.525000e-02,0.02525,2014-03-10T00:00:00,12.370000
2,0.000339,0.02525,0.02525,2.525000e-02,0.02525,2014-03-11T00:00:00,0.013434
3,5.041498,0.02700,0.02700,2.540000e-02,0.02540,2014-03-12T00:00:00,194.099661
4,0.055185,0.01001,0.02525,1.000000e-08,0.02525,2014-03-13T00:00:00,9.420337

In [ ]:
data[0:30]

,BV,C,H,L,O,T,V
0,1.704125,0.025400,0.025400,2.525000e-02,0.025250,2014-03-07T00:00:00,67.445876
1,0.312342,0.025250,0.025250,2.525000e-02,0.025250,2014-03-10T00:00:00,12.370000
2,0.000339,0.025250,0.025250,2.525000e-02,0.025250,2014-03-11T00:00:00,0.013434
3,5.041498,0.027000,0.027000,2.540000e-02,0.025400,2014-03-12T00:00:00,194.099661
4,0.055185,0.010010,0.025250,1.000000e-08,0.025250,2014-03-13T00:00:00,9.420337
5,0.181362,0.026700,0.026700,1.001000e-02,0.026700,2014-03-14T00:00:00,6.926632
6,0.193406,0.026700,0.026700,5.000000e-06,0.026700,2014-03-15T00:00:00,11.862332
7,3.074014,0.027900,0.270000,1.000000e-05,0.026700,2014-03-16T00:00:00,177.266215
8,1.744987,0.025800,0.028400,2.560000e-02,0.025700,2014-03-17T00:00:00,64.057663
9,1.325303,0.030300,0.035000,2.560000e-02,0.027900,2014-03-18T00:00:00,47.424872
10,0.216336,0.029000,0.031500,2.900000e-02,0.031500,2014-03-19T00:00:00,7.201305
11,0.105921,0.022600,0.022600,2.260000e-02,0.022600,2014-03-20T00:00:00,4.686776
12,0.054864,0.026000,0.026000,2.250000e-02,0.022500,2014-03-21T00:00:00,2.147940
13,0.777287,0.026000,0.029000,2.560001e-02,0.029000,2014-03-22T00:00:00,29.579544
14,0.109937,0.026300,0.030000,2.600000e-02,0.026000,2014-03-23T00:00:00,4.098219
15,0.058072,0.029400,0.030000,2.630000e-02,0.026300,2014-03-24T00:00:00,1.968161
16,0.210782,0.030000,0.030000,2.628000e-02,0.026280,2014-03-25T00:00:00,7.753790
17,0.506092,0.026756,0.029500,2.641000e-02,0.026600,2014-03-26T00:00:00,18.803698
18,0.458775,0.028856,0.028856,2.660500e-02,0.026756,2014-03-27T00:00:00,16.955439
19,0.219403,0.026666,0.028959,2.666000e-02,0.026700,2014-03-28T00:00:00,8.070378
20,0.316457,0.029290,0.029300,2.700000e-02,0.028000,2014-03-29T00:00:00,11.113267
21,0.422643,0.028995,0.029000,2.677021e-02,0.029000,2014-03-30T00:00:00,15.301222
22,0.580297,0.027800,0.029290,2.770100e-02,0.028995,2014-03-31T00:00:00,20.781209
23,0.771958,0.026605,0.027800,2.450000e-02,0.027700,2014-04-01T00:00:00,28.077851
24,0.533987,0.025650,0.027700,2.450000e-02,0.027000,2014-04-02T00:00:00,20.699298
25,0.342074,0.026970,0.027000,2.252000e-02,0.025650,2014-04-03T00:00:00,14.306916
26,0.539637,0.027700,0.027700,2.263600e-02,0.026970,2014-04-04T00:00:00,21.733192
27,0.159831,0.023333,0.025500,2.320001e-02,0.023200,2014-04-05T00:00:00,6.828140
28,0.105178,0.025200,0.026100,2.400000e-02,0.025500,2014-04-06T00:00:00,4.229406
29,0.074620,0.025720,0.027600,2.450090e-02,0.024501,2014-04-07T00:00:00,2.929253

In [ ]:
data[0:30]['H'].max()

0.27